html {
    background-color: #0b0b0b;
}

.first-name {
    color: #83c5be;
    margin-top: 15%;
    margin-left: 22%;
    margin-right: 22%;
    text-align: center;
    font-size: 150px;
    font-weight: 300;
    font-family: fantasy;
    font-style: italic;
    letter-spacing: 20px;
    text-align: left;
}

.hollow-text {
font-family: fantasy;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 3px #83c5be;
margin-top: -100px;
margin-left: 400px;
margin-right: 400px;
text-align: right;
font-size: 150px;
font-weight: 300;
font-style: italic;
letter-spacing: 20px;

}

.hi {
    color: #83c5be;
    margin-top: -800px;
    margin-left: 100px;
    margin-right: 400px;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    font-family: monospace;
    font-style: normal;
    letter-spacing: 15px;
    
}

.intro {
    color: #83c5be;
    margin-top: 160px;
    margin-left: 600px;
    margin-right: 150px;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
    font-family: monospace;
    font-style: normal;
    letter-spacing: 10px;
    line-height: 50px;
}

.me {
    margin-top: 350px;
    margin-left: 50px;
    margin-bottom: 100px;
    border-top-left-radius: 48%;
    border-top-right-radius: 48%;
}

.name {
    color: #83c5be;
    margin-top: 100px;
    margin-left: 200px;
    text-align: center;
    font-size: 200px;
    font-weight: 300;
    font-family: fantasy;
    letter-spacing: 15px;
    font-style: italic;
}

.course {
    color: whitesmoke;
}

.hobbies {
    margin-top: 20%;
    margin-left: -1.3%;
    margin-right: -2%;
}